<div class="flex w-full flex-col h-full">
  <!-- NAVBAR -->
<app-navbar></app-navbar>


  <div class="flex items-center justify-center">
    <!-- BODY -->
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>

<app-footer></app-footer>

</div>






<!-- ANOTACIONES QUE RESTARON -->

<!--
 <div class="flex flex-col items-start">
  <div class="bg-gray-900 w-full">
    HOLA MUNDO
  </div>
</div>
 -->
<!-- <div class="bg-blue-800 flex flex-grow min-w-fit"></div> -->
